//if articles     
    each article in articles 
        article.article-card 
            p.article-controls
                a(href="/blog/edit/" + article._id) Éditer l'article 
                button.btn.btn-danger.mt-2.float-right(articleid=article._id) X
            h1.article-card-title= article.title 
            p.article-card-content= article.content
if articles     
    each article in articles 
        article.article-card 
            .article-controls 
                a(href="/blog/edit/" + article._id) 
                    span.edit-control Éditer l'article 
                a(href="#")
                    span.delete-control Supprimer l'article 
            img(src=article.img)    
            h2.article-card-title= article.title 
            p.article-card-content= article.content
            .read-more
                a(href="#") Lire la suite
                    i.fa-solid.fa-arrow-right
//- article.article-card 
//-     .article-controls 
//-         a(href="/blog/edit/") 
//-             span.edit-control Éditer l'article 
//-         a(href="#")
//-             span.delete-control Supprimer l'article 
//-     img(src="https://fakeimg.pl/300x250/")    
//-     h2.article-card-title Mon titre 
//-     p.article-card-content Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae corrupti earum deserunt nam esse, obcaecati quos dolorum amet enim totam dolorem sapiente minima, sunt sint magni ad maxime molestiae sed!
//-     .read-more
//-         a(href="#") Lire la suite
//-             i.fa-solid.fa-arrow-right
//- article.article-card 
//-     .article-controls 
//-         a(href="/blog/edit/") 
//-             span.edit-control Éditer l'article 
//-         a(href="#")
//-             span.delete-control Supprimer l'article 
//-     img(src="https://fakeimg.pl/300x250/")    
//-     h2.article-card-title Mon titre 
//-     p.article-card-content Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae corrupti earum deserunt nam esse, obcaecati quos dolorum amet enim totam dolorem sapiente minima, sunt sint magni ad maxime molestiae sed!
//-     .read-more
//-         a(href="#") Lire la suite
//-             i.fa-solid.fa-arrow-right
//- article.article-card 
//-     .article-controls 
//-         a(href="/blog/edit/") 
//-             span.edit-control Éditer l'article 
//-         a(href="#")
//-             span.delete-control Supprimer l'article 
//-     img(src="https://fakeimg.pl/300x250/")    
//-     h2.article-card-title Mon super titre 
//-     p.article-card-content Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae corrupti earum deserunt nam esse, obcaecati quos dolorum amet enim totam dolorem sapiente minima, sunt sint magni ad maxime molestiae sed!
//-     .read-more
//-         a(href="#") Lire la suite
//-             i.fa-solid.fa-arrow-right
//- article.article-card 
//-     .article-controls 
//-         a(href="/blog/edit/") 
//-             span.edit-control Éditer l'article 
//-         a(href="#")
//-             span.delete-control Supprimer l'article 
//-     img(src="https://fakeimg.pl/300x250/")    
//-     h2.article-card-title Mon titre 
//-     p.article-card-content Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae corrupti earum deserunt nam esse, obcaecati quos dolorum amet enim totam dolorem sapiente minima, sunt sint magni ad maxime molestiae sed!
//-     .read-more
//-         a(href="#") Lire la suite
//-             i.fa-solid.fa-arrow-right
//- article.article-card 
//-     .article-controls 
//-         a(href="/blog/edit/") 
//-             span.edit-control Éditer l'article 
//-         a(href="#")
//-             span.delete-control Supprimer l'article 
//-     img(src="https://fakeimg.pl/300x250/")    
//-     h2.article-card-title Mon titre 
//-     p.article-card-content Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae corrupti earum deserunt nam esse, obcaecati quos dolorum amet enim totam dolorem sapiente minima, sunt sint magni ad maxime molestiae sed!
//-     .read-more
//-         a(href="#") Lire la suite
//-             i.fa-solid.fa-arrow-right