extends ../layout.pug

block content
    header.blog-head
        .container.px-4.px-lg-5
            .row.gx-4.gx-5-lg.align-items-center.justify-content-between.text-center.flex-column
                .col-lg-8 
                    h2.master-head--subheading.text-uppercase.font-weight-bold.text-dark Le blog de l'Agence Bivuak
                    hr.divider.my-1.my-xs-3
                    h1.master-head--heading.text-dark= post.title 
    main
        section.page-section#blog.py-4
            .container.px-4.px-lg-5
                if post
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-sm-8.mt-5         
                    img.img-fluid.mx-auto(src=`${post.img}` alt="La photo à la une de l'article")
                    .content.mt-5
                        | !{post.sanitizedHtml}
                    hr.article-divider.mb-4.w-50
                    p.fst-italic Rédigé par !{post.author.username} le !{post.createdAt.toLocaleDateString()}
                    if post.updatedAt
                        p Modifié le !{post.updatedAt.toLocaleDateString()}
                .row.mt-5
                    .col-sm-8
                        a.btn.btn-primary.text-uppercase(href="/blog") Retour au blog →
                    if currentUser
                        if editable && (post.author._id.toString() === currentUser._id.toString())
                            .col-sm-2
                                a.btn.btn-info.px-2(href="/blog/edit/"+ post._id) Editer 
                                    i.fas.fa-edit
                            .col-sm-2
                                a.btn.btn-danger.px-2#btnDelete(postId=post._id) Supprimer 
                                    i.fas.fa-minus-circle
    include ../includes/footer.pug
    include ../includes/scripts.pug
    script(src="/js/blog-post.js")